/* Основной код для разрешения выше 1280px */
.cover {
    text-align: center;
    max-width: 1184px;
    margin: 92px auto 0;
}

/* код для разрешения до 1280px */
/*@media screen and (max-width: 1279px) {*/
/*    .photo-grid {*/
/*        margin: 90px 0 0;*/
/*    }*/
/*}*/

/*код для разрешения до 1024px */
@media screen and (max-width: 1023px) {
    .cover {
        margin: 90px 0 0;
    }
}

/*код для разрешения до 768px */
@media screen and (max-width: 767px) {
    .cover {
        margin: 66px 0 0;
    }
}