/* Основной код для разрешения выше 1280px */
.footer {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 92px auto 24px;
    flex-wrap: nowrap;

}

/*код для разрешения до 1280px */
@media screen and (max-width: 1279px) {
    .footer {
        margin: 88px auto 24px;
        padding: 0 48px;
    }
}

/*код для разрешения до 1024px */
@media screen and (max-width: 1023px) {
    .footer {
        margin: 88px auto 24px;
        padding: 0 24px;
    }
}

/*код для разрешения до 768px */
@media screen and (max-width: 767px) {
    .footer {
        margin: 64px auto 24px;
        flex-direction: column;

    }
}